<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/umanjalis/eclipse-workspace/flipkart/src/test/java/TechademyCourse/pageobject/test/FirstTest.java">
        <classes>
            <class name="TechademyCourse.pageObject.">
                <methods>
                    <include name="firstTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>